.App {
  text-align: center;
}

.App-container {
  background: rgb(255,121,25);
  background: linear-gradient(90deg, rgba(255,121,25,1) 32%, rgba(246,210,184,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 53, 53);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.table {
    border-collapse: collapse;
    text-align: left;
   
}
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 10px;
}
.table tr{
    background-color: floralwhite;
}
.table tr:nth-child(even){background-color: rgb(221, 218, 213);}
  
.table tr:hover {background-color: rgb(246, 211, 95);}
  
a{
    color:rgb(255,121,25);
    text-decoration: none
}